body{

 background-color:#F5EEF8;

}

h1 {
font-family: Candara;
Color:#21618C;
}

#rfText {
font-style:italic;

}

td {
background-color:#fff;
font-family:Arial;
color:#148F77;
}

* {
font-family: Arial;
Color:grey;
}